extends layout

block content
    script.
      document.getElementById('acmp').className+=" active"
    p О компании
      div(align="center")
        image(src='#{homepage}/images/catalog/img_cmp.jpg' style="width:80%;" class="zoom-images")
      p!=text