doctype html
html
  head
    title= title
    link(href="#{homepage}/styles/stylesheet.css" rel="stylesheet" media="screen")
  body
    script(src='#{homepage}/js/jquery.js')
    script(src='#{homepage}/js/bootstrap.min.js')
    block content