extends layout_admin

block content
  form.form-horizontal(action="/admin/upload_static_img" enctype="multipart/form-data" method="post")
      //h1 Загрузка изображения
      label Имя файла:
      br
      input(type="text" name="imgname" multiple="multiple" placeholder="name.jpg")  
      br
      br
      input(type="file" name="upload" multiple="multiple")       
      br   
      input(type="submit" value="Загрузить")