extend layout

block content    
    form.form-horizontal(method="post" action="/login" align="center")
        h1 Вход в CMS
        input(type="text" name="username" id="input_username" placeholder="login")
        br
        br
        input(type="password" name="password" id="input_password" placeholder="password")
        br
        br
        input(type="submit" value="Войти")