extends layout_admin

block content
    div(class="navbar")
      div(class="navbar-inner")
        a(class="brand" href="#">Имя проекта)
        ul(class="nav")
          li
            a(href="#{homepage}") Выход на главную
          li
            a(href="#") О компании
          li
            a(href="#") Жалюзи
          li
            a(href="#") Рольставни
          li(class="active")
            a(href="#") Заявки
          li
            a(href="#") Контакты            
